Repository pereira0x/AGISIT-Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-bitcoin-service, build-ethereum-service, build-solana-service, build-monero-service, build-frontend-service

build-bitcoin-service:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.14.0-debug
    entrypoint:
    - ''
  script:
  - 'echo ''{ "auths": { "https://index.docker.io/v1/": { "auth": "''"${DOCKER_HUB_TOKEN}"''" } } }'' > /kaniko/.docker/config.json
  
    '
  ...

build-ethereum-service:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.14.0-debug
    entrypoint:
    - ''
  script:
  - 'echo ''{ "auths": { "https://index.docker.io/v1/": { "auth": "''"${DOCKER_HUB_TOKEN}"''" } } }'' > /kaniko/.docker/config.json
  
    '
  ...

build-solana-service:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.14.0-debug
    entrypoint:
    - ''
  script:
  - 'echo ''{ "auths": { "https://index.docker.io/v1/": { "auth": "''"${DOCKER_HUB_TOKEN}"''" } } }'' > /kaniko/.docker/config.json
  
    '
  ...

build-monero-service:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.14.0-debug
    entrypoint:
    - ''
  script:
  - 'echo ''{ "auths": { "https://index.docker.io/v1/": { "auth": "''"${DOCKER_HUB_TOKEN}"''" } } }'' > /kaniko/.docker/config.json
  
    '
  ...

build-frontend-service:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.14.0-debug
    entrypoint:
    - ''
  script:
  - 'echo ''{ "auths": { "https://index.docker.io/v1/": { "auth": "''"${DOCKER_HUB_TOKEN}"''" } } }'' > /kaniko/.docker/config.json
  
    '
  ...

feat: deployments are manual
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

feat: can only deploy if that service had changes
  .gitlab-ci.yml
  src/frontend/index.html
Due: build-frontend-service

fix: pipeline env var
  .gitlab-ci.yml
  src/frontend/index.html
Due: build-frontend-service

cat kube config
  .gitlab-ci.yml
  src/frontend/index.html
Due: build-frontend-service

export KUBECOnfig
  .gitlab-ci.yml
  src/frontend/index.html
Due: build-frontend-service

update server.js on monero
  src/backend/moneroService/server.js
Due: build-monero-service

fix: update dockerfile w new datbase host
  src/backend/ethereumService/Dockerfile
Due: build-ethereum-service

fix: docker again...
  src/backend/ethereumService/Dockerfile
Due: build-ethereum-service

feat: terraform (kinda) works yey
  terraform/cluster/01-variables.tf
  terraform/cluster/02-providers.tf
  terraform/cluster/03-cluster.tf
  terraform/cluster/outputs.tf
  terraform/cluster/plugins.tf
  terraform/kubernetes/01-variables.tf
  terraform/kubernetes/02-providers.tf
  terraform/kubernetes/03-namespaces.tf
  terraform/kubernetes/04-services.tf
  terraform/kubernetes/05-pods.tf
  terraform/kubernetes/06-monitoring.tf
  terraform/kubernetes/07-istio.tf
  terraform/kubernetes/08-database.tf
  terraform/kubernetes/monitoring/grafana/values.yaml
  terraform/kubernetes/monitoring/prometheus/values.yaml
  terraform/kubernetes/plugins.tf
  terraform/main.tf
  terraform/outputs.tf
  terraform/terraform.tfvars.example
  terraform/vpc/01-variables.tf
  terraform/vpc/02-providers.tf
  terraform/vpc/03-vpc.tf
  terraform/vpc/outputs.tf
Due: none

ci: update pipeline deploy stage
  .gitlab-ci.yml
  src/backend/solanaService/server.js
Due: build-solana-service

ci: trigger solana
  .gitlab-ci.yml
  src/backend/solanaService/server.js
Due: build-solana-service

ci: working deployments on CICD
  .gitlab-ci.yml
  src/backend/bitcoinService/server.js
  src/backend/ethereumService/server.js
  src/backend/moneroService/server.js
  src/backend/solanaService/server.js
Due: build-bitcoin-service, build-ethereum-service, build-solana-service, build-monero-service

fix: change deploy stage image to google/cloud-sdk on all services
  .gitlab-ci.yml
  src/backend/bitcoinService/server.js
  src/backend/ethereumService/server.js
  src/backend/moneroService/server.js
  src/backend/solanaService/server.js
Due: build-bitcoin-service, build-ethereum-service, build-solana-service, build-monero-service

fix: remove dupped footer
  src/frontend/index.html
Due: build-frontend-service

feat: custom metrics
  .gitlab-ci.yml
  src/backend/bitcoinService/server.js
  src/backend/ethereumService/server.js
  src/backend/moneroService/server.js
  src/backend/solanaService/server.js
  terraform/kubernetes/monitoring/grafana/values.yaml
  terraform/kubernetes/monitoring/prometheus/values.yaml
Due: build-bitcoin-service, build-ethereum-service, build-solana-service, build-monero-service

feat: dashboard for custom metrics done! Project Done
  terraform/kubernetes/monitoring/grafana/values.yaml
Due: none

feat: update README with deployment instructions
  README.md
Due: none

feat: update README with nix instructions
  README.md
  README_original.md
Due: none

feat: hello agisit video
  src/backend/bitcoinService/server.js
  src/backend/moneroService/server.js
Due: build-bitcoin-service, build-monero-service

docs: add project report
  Report.pdf
Due: none

Path conditions:
  build-bitcoin-service: any of: src/backend/bitcoinService/**/*
  build-ethereum-service: any of: src/backend/ethereumService/**/*
  build-solana-service: any of: src/backend/solanaService/**/*
  build-monero-service: any of: src/backend/moneroService/**/*
  build-frontend-service: any of: src/frontend/**/*
